// Google Font Import
@import url('https://fonts.googleapis.com/css?family=Barlow|Indie+Flower&display=swap');

// Fonts
$flower: 'Indie Flower', cursive;
$barlow: 'Barlow', sans-serif;
$arial: Arial, Helvetica, sans-serif;

// Units
$full: 100%;
$half: 50%;

// colors
$baseBlue: #29506D;
$baseYellow: #A98D38;
$baseRed: #A95938;

$lightBlue: #708DA4;
$lightYellow: #FEE9A9;
$lightRed: #FEC1A9;

$darkBlue: #042036;
$darkYellow: #553F00;
$darkRed: #551800;

$medBlue: #123652;
$medYellow: #7F6415;
$medRed: #7F3315;

$altMedBlue: #486C88;
$altMedYellow: #D3B969;
$altMedRed: #D38869;

$fixedBlack: #333;
$fixedWhite: #eee;