// Google Font Import
@import url('https://fonts.googleapis.com/css?family=Barlow|Indie+Flower&display=swap');

// Fonts
$flower: 'Indie Flower', cursive;
$barlow: 'Barlow', sans-serif;
$arial: Arial, Helvetica, sans-serif;

// Units
$full: 100%;
$half: 50%;
